

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Ubuntu|Roboto+Slab:400,700);

body {
	font-family: "Roboto Slab", serif;
	line-height: 200%;
}

nav .navbar {
	background: rgb(234, 234, 234);
	margin-bottom: 50px;
}
.navbar {
	min-height: 100px;
	margin-bottom: 0;
}

nav  {
	height: auto;
	min-height: 100px;
}

.navbar .navbar-brand {
	color: #fff;
	height: auto;
}

.navbar-fixed-top {
	position: static;
}

.navbar .navbar-brand .subhead {
	font-family: "Ubuntu", sans-serif;
}

.navbar .navbar-brand:hover {
	color: #9d9d9d;
}

.navbar .navbar-nav li a {
	color: #fff;
}

.navbar .navbar-nav li a:hover {
	color: #9d9d9d;
}

.navbar-inverse .navbar-nav #active a {
	color: #9d9d9d;
}

ul.nav.navbar-nav.navbar-right {
	margin-top: 20px;
	font-family: "Times New Roman", sans-serif;
	font-size: 18px;
}

@media only screen and (max-width: 760px){
	.navbar-brand {
		padding: 15px 0 0;
	}
}

#featured {
	margin-top: 0;
}

h1 {
	margin-top: 0;
	margin-bottom:0;
	font-size: 1.8em;
	font-family: "Times New Roman", sans-serif;
}

h2 {
	font-family: "Times New Roman", sans-serif;
}


#about-page {
	margin-top: 30px;
}

footer {
	margin-top: 30px;
	margin-bottom: 20px;
}










